/*--------------------- start footer -----------------------*/
footer {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:  rgb(27, 26, 26);
    height: 215px;
    width: 100%;
}

.footercolumn {
    width: 33.3333%;
    color: white;
    text-align: left;
    margin: 0 110px;
    height: 100%;
}

.footercolumn h3 {
    margin: 25px 0;
    font-size: 25px;
}

.socialmedia-icons {
    font-size: 2.1rem;
}
/*------------- Einde footer ----------------- */

.fa-facebook:hover {
    color: #3b5998;
    transition: 0.5s;
    transform: rotateY(180deg);
}
.fa-twitter:hover {
    color: #1da1f2;
    transition: 0.5s;
    transform: rotateY(180deg);
}
.fa-instagram:hover {
    background: radial-gradient(circle at 30% 100%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: 0.5s;
    transform: rotateY(180deg);
}


/*-------------------------------------Start footer mobile-----------------------------*/
@media screen and (max-width: 768px) {

    footer {
        position: relative;
        bottom: 0;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    .footercolumn {
        width: 100%;
        margin: 15px;
    }

    .footercolumn p, h3 {
        text-align: left;
        padding: 0 20px;
    }

    .footercolumn  p {
        font-size: 16px;
        margin-top: -5px;
    }

    .footercolumn h3 {
        margin-top: 25px;
    }

    .socialmedia-icons {
        text-align: left;
        padding: 0 20px;
    }
}
/*--------------------------------- einde footer mobile ----------------------------*/

/*-------------------------------------Start footer Tablet-----------------------------*/
@media screen and (max-width: 1024px) and (min-width: 769px) {
    footer {
        height: 225px;
    }
    .footercolumn {
        margin: 0 50px;
    }
    .footercolumn p {
        font-size: 14px;
    }
    .footercolumn h3 {
        font-size: 20px;
    }
}
/*-------------------------------------end footer Tablet-----------------------------*/