main h1 {
    text-align: center;
    margin-top: 25px;
    font-size: 40px;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
h4,h3, h2, h1 {
    font-family: 'Odibee Sans', cursive;
    letter-spacing: 3px;
}
h2 {
    font-size: 38px;
}
h4 {
    font-size: 32px;
}
label {
    font-size: 16px;
}
section {
    display: flex;
    flex-direction: row;
}
section h2 {
    text-align: center;
    margin: 20px 0;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
form {
    display: flex;
    padding: 15px;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid black;
    background-color: rgb(248, 241, 241);
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgb(48, 46, 46, 0.5);
}
/*on web form */
input {
    margin-bottom: 15px;
    width: 90%; /* lengte van de input tag zelf */
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: whitesmoke;
    color:  rgb(48, 46, 46);
}
/*on web form*/
input[type=radio] {
    width: 17px;
    height: 17px;
    opacity: 0;
    position: absolute;
}
input[type=radio]:checked ~ .radio_indicator {
    background-color: rgb(3, 243, 131);
}
input[type=checkbox] {
    height: 20px;
    width: 30px;
    margin-top: 10px;
    position: absolute;
    opacity: 0;
}
input[type=checkbox]:checked ~ .checkmark-indicator {
    background-color: rgb(3, 243, 131);
    border: 1px solid rgb(3, 243, 131);
}
/* on web form */
select {
    margin-left: -5px;
    width: 45%;
    height: 40px;
    color: white;
    background-color:  rgb(3, 243, 131);
    border-radius: 5px;
    border: 1px solid  rgb(3, 243, 131);
    font-weight: bold;
    font-size: 16px;
}
/* on web form */
option {
    background-color: rgb(48, 46, 46);
}
/* on web form */
textarea {
    width: 93%;
    height: 150px;
    resize: none;
    border-radius: 5px;
    border: 1px solid black;
    background-color: whitesmoke;
    color:  rgb(48, 46, 46);
    font-size: 14px;
}
/* knop van het formulier */
button {
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid  rgb(3, 243, 131);
    background-color:  rgb(3, 243, 131);
    color: white;
    height: 50px;
    width: 125px;
    font-weight: bold;
    font-size: 16px;
}
button:hover {
    background-color: rgb(27, 26, 26);
    border: 1px solid rgb(27, 26, 26);
    transition: 0.5s;
}
/* google maps */
iframe {
    width: 100%;
    height: 300px;
    border: none;
}
/*inleinding op Home en Big 3 page */
.inleiding {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inleiding p {
    width: 50%;
    margin-top: 25px;
    text-align: center;
}
/* Article on Big three page */
.blog {
    margin: 50px 30px;
    display: flex;
    flex-direction: row;
}
.blog h2 {
    padding: 15px;
}
.blog p {
    padding: 15px;
}
.text-column {
    width: 50%;
}
/*image in de  article row */
.image-container {
    margin-top: 75px;
    margin-left: 30px;
    width: 50%;
}
/* over ons */
.post, .post.image {
    margin-top: 50px;
    width: 33.33333%;
    border: none;
    padding: 15px;
}
.post h2 {
    text-align: left;
    margin-bottom: 20px;
}
.container {
    display: flex;
    margin: 25px;
    flex-direction: row;
    justify-content: space-around;

}
.container > div {
    padding: 15px;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.video {
    width: 50%;
    border: 1px solid black;
}
.video > iframe {
    height: 100%;
}
/* personen in over ons */
.avatar-container {
    display: flex;
    justify-content: center;
}
/* three images on the big three pages */
#naruto-image {
    object-position: 48% 100%;
}
#bleach-image, #onepunchman-image {
    object-position: 30% 100%;
}
/*avatar img */
.avatar {
    border-radius: 50%;
    width: 40%;
}
.list-row {
    margin: 25px 0;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.card {
    margin: 25px 0;
    width: 20%;
    transition: 0.5s;
    box-shadow: 10px 10px 20px rgba(48, 46, 46, 0.5);
    border-radius: 5px;
}
.card:hover {
    transition: 1s;
    transform: scale(1.1);
    box-shadow: 10px 10px 20px rgba(48, 46, 46);

}
.card > div {
    padding: 10px;
    text-align: center;
}
.card > img {
    border-radius: 5px 5px 0 0;
    height: 80%;
    object-fit: fill;
}
/* contact page container */
.contact-container {
    display: flex;
    flex-direction: row;
}
.contact-container h2 {
    margin-bottom: 30px;
}
/* contact tekst blok */
.contact-text {
    width: 50%;
    padding: 20px;
    margin:  0px 20px 0 50px;
}
.contact-text p {
    margin-top: 55px;
}
/* contact formulier */
.contact-form {
    width: 50%;
    margin: 0 20px 0 20px;
    padding: 20px;
    color: rgb(27, 26, 26);
    
}
.form-row {
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/*input velden van contact */
.form-input {
    margin-left: -5px;
    width: 100%;
}
.radio_indicator {
    display: inline-block;
    margin-right: 10px;
    height: 15px;
    width: 15px;
    background-color: whitesmoke;
    border-radius: 50%;
    border: 1px solid black;
}
.checkmark-indicator {
    display: inline-block;
    margin-top: 10px;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 5px;
    background-color: whitesmoke;
    border: 1px solid black;
}
.fa-check {
    color: whitesmoke
}
.form-select {
    width: 100%;
}
/* colum titel */
.contact-form h2 {
    text-align: center;
}
/* responsive phone contact */
@media screen and (max-width: 480px) {
    input, select {
        width: 100%;
    }
    input[type="checkbox"] {
        margin-right: 10px;
        margin-left: 0;
    }
    textarea {
        width: 96%;
        height: 300px;
    }
    button {
        width: 96%;
        font-size: 20px;
    }
    h3 {
        font-size: 28px;
        text-align: center;
    }
    h4 {
        font-size: 20px;
    }
    .contact-container {
        display: flex;
        flex-direction: column;
    }
    /* contact tekst blok */
    .contact-text {
        width: 90%;
        margin: 0;
        padding: 15px;
    }
    .contact-text h2 {
        margin-bottom: -20px;
    }
    /*contact form */
    .contact-form {
        margin: 0 0 20px 0;
        width: 90%;
        padding: 15px;
    }
    .contact-form h2 {
        text-align: left;
    }
    .form-row{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .form-input {
        width: 100%;
    }
    .form-select {
        width: 100%;
        margin-bottom: 10px;
    }
    .inleiding {
        text-align: center;
        margin-bottom: 35px;
        padding: 20px;
    }
    .inleiding p {
        width: 100%;
        padding: 15px;
        text-align: center;
    }
    .blog {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 0;
    }
    .blog p {
        margin: 20px;
        margin-top: -10px;
    }
    .blog h2 {
        margin-left: 20px;
    }
    .blog .text-column{
        width: 100%;
    }
    .image-container {
        width: 100%;
        margin: 0;
        padding: 0;
        height: 70vh;
    }
    .container {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .container > div {
        border: none;
        text-align: center;
    }
    .post {
        margin: 20px;
        width: 80%;
    }
    .post h2 {
        text-align: left;
    }
    .post.image {
        margin: 0 0 -5px 0;
        padding: 0;
        width: 100%;
    }
    .card {
        width: 40%;
        font-size: 20px;
    }
    .card > img {
        height: 75%;
    }
    .video {
        width: 100%;
        height: 250px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    textarea {
        height: 200px;
        width: 97%;
    }
    select, input {
        width: 100%;
    }
    button {
        width: 100%;
    }
    h4 {
        font-size: 26px;
    }
    .contact-form {
        width: 60%;
    }
    .form-row{
        display: flex;
        flex-direction: column;
    }
    .form-input {
        width: 100%;
    }
    .contact-text {
        width: 40%;
    }
    .contact-text p {
        margin-top: -5px;
    }
    .card > img {
        height: 75%;
    }
    .container:nth-child(2) {
        flex-wrap: wrap;
        justify-content: left;
        margin-top: -20px;
    }
    .post {
        width: 45%;
    }
    .post.image {
        width: 100%;
    }
}
@media screen and (min-width: 768px) and (max-width: 918px) {
    input[type="checkbox"] {
        margin-left: -5px;
    }
    .blog {
        display: flex;
        flex-direction: column;
    }
    .text-column, .image-container {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .video {
        width: 100%;
        height: 300px;
    }

}