main h1 {
    text-align: center;
    margin-top: 25px;
    font-family: 'Odibee Sans', cursive;
    font-size: 40px;
    letter-spacing: 2px;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*------------------------------- Start Big 3 Pagina ------------------------------------*/
.inleiding {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inleiding p {
    width: 50%;
    margin-top: 25px;
    font-size: 18px;
}
.article {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}
.onepiece-tekst, .naruto-tekst, .bleach-tekst {
    width: 50%;
}
.onepiece-image, .naruto-image, .bleach-image {
    width: 50%
}
/*------------------------------- Einde Big 3 Pagina ------------------------------------*/
/*------------------------------------ start contact pagina ---------------------- */
.contact-container {
    display: flex;
    flex-direction: row;
}
.contact-container h2 {
    font-family: 'Odibee Sans', cursive;
    font-size: 36px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
/* contact tekst blok */
.contact-tekst {
    width: 50%;
    padding: 20px;
    margin:  0px 20px 0 50px;
}
.contact-tekst p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 55px;
}

/* contact formulier */
.contact-form {
    width: 50%;
    margin: 0 20px 0 20px;
    padding: 20px;
}
.contact-form form {
    display: flex;
    padding: 10px;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 10px 10px 20px rgb(48, 46, 46);
}
.form-row {
    margin: 5px;
}
/* first row in the contact form */
.form-row.row1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/*input velden van contact */
.form-naam, .form-email, .form-onderwerp {
    width: 50%; /* width is 50 omdat ze in dezelfde div zitten */
}
.form-row.row1 input, .form-row.row2 input {
    margin-bottom: 15px;
    width: 93%; /* lengte van de input tag zelf */
    height: 25px;
    border-radius: 5px;
}
.form-row.row3 textarea {
    width: 97%;
    height: 150px;
    resize: none;
    border-radius: 5px;
}
/* knop van het formulier */
.form-row.row4 button {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid  rgb(3, 243, 131);
    background-color:  rgb(3, 243, 131);
    color: white;
    height: 50px;
    width: 125px;
    font-weight: bold;
    font-size: 16px;
}
/* colum titel */
.contact-form h2 {
    text-align: center;
}
/* google maps */
iframe {
    width: 100%;
    height: 300px;
    border: none;
}

/*------------------------------------------- einde contact pagina ---------------------*/

@media screen and (max-width: 480px) {
    .contact-container {
        display: flex;
        flex-direction: column;
    }
    /* contact tekst blok */
    .contact-tekst {
        width: 90%;
        margin: 0;
        padding: 15px;
    }
    .contact-tekst p {
        margin-top: 30px
    }
    /*contact form */
    .contact-form {
        margin: 0 0 20px 0;
        width: 90%;
        padding: 15px;
    }
    .contact-form h2 {
        text-align: left;
    }
    .form-row.row1{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .form-naam, .form-email, .form-onderwerp {
        width: 100%; /* width is 50 omdat ze in dezelfde div zitten */
    }
    .form-row.row1 input, .form-row.row2 input {
        width: 100%;
    }
    .form-row.row3 textarea {
        width: 100%;
    }
    .form-row.row4 button {
        width: 100%;
        font-size: 20px;
    }
}